#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#

# Node dependencies.
/node_modules/

# Allow scaffolding of empty directories.
!.keep

# IDE files, just in case you are not excluding them globally.
.idea/
