//
// e.g. .my-carousel { @include carousel(); }
//
// TODO: How much should be defined in this library, and how much should be up to the user?
//

@mixin carousel($control-colour: #464a4b, $control-secondary-colour: rgb(217, 35, 52)) {
  &.carousel {
    height: 180px;
    margin-bottom: 5px;
    position: relative;

    .move-left,
    .move-right {
      background-color: $control-colour;
      border: 0;
      color: #fff;
      font-size: 2.2em;
      height: 100%;
      position: absolute;
      top: 0;
      width: 30px;

      &:hover,
      &:hover {
        background-color: $control-secondary-colour;
        outline: 0;
        transition: linear all .2s;
      }
    }

    button.move-left {
      left: 15px;
    }

    button.move-right {
      right: 15px;
    }

    .news-fixed-container {
      display: block;
      height: 100%;
      margin: 0 30px;
      overflow: hidden;
      position: relative;

      .news-flexible-content {
        background-color: #fff;
        display: block;
        height: 100%;
        left: 0;
        min-width: 50%;
        position: absolute;
        top: 0;

        ul {
          height: 100%;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: block;
            float: left;
            height: 100%;
            opacity: .3;
            transition: opacity .5s linear;
            width: 600px;

            &.current {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
